<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.javastudy.member.service.MemberMapper">

    <sql id="selectMemberListWhereClause">
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(groupSeq)">
            AND NOT EXISTS(SELECT TGM.MEMBER_SEQ
                           FROM TB_GROUP_MEMBER TGM
                           WHERE TGM.DEL_YN = 'N'
                           AND TM.SEQ = TGM.MEMBER_SEQ
                           AND TGM.GROUP_SEQ = #{groupSeq})
        </if>
    </sql>

    <select id="selectMemberList" resultType="com.example.javastudy.member.model.MemberDto">
        /* MemberMapper.selectMemberList */
        SELECT TM.*
        FROM TB_MEMBER TM
        WHERE TM.DEL_YN = 'N'
        <include refid="selectMemberListWhereClause" />
        ORDER BY TM.SEQ ASC
    </select>

    <select id="selectMember" resultType="com.example.javastudy.member.model.MemberDto">
        /* MemberMapper.selectMember */
        SELECT TM.*
        FROM TB_MEMBER TM
        WHERE TM.DEL_YN = 'N'
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(seq)">
            AND TM.SEQ = #{seq}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(memberId)">
            AND TM.MEMBER_ID = #{memberId}
        </if>
    </select>

    <insert id="insertMember">
        /* MemberMapper.insertMember */
        INSERT INTO TB_MEMBER ( SEQ
                              , MEMBER_ID
                              , MEMBER_NAME
                              , MEMBER_PASSWORD
                              , MEMBER_EMAIL
                              , DEL_YN
                              , CREATE_ID
                              , CREATE_NAME)
        VALUES ( #{seq}
               , #{memberId}
               , #{memberName}
               , #{memberPassword}
               , #{memberEmail}
               , 'N'
               , #{createId}
               , #{createName} )
    </insert>

    <update id="updateMember">
        /* MemberMapper.updateMember */
        UPDATE TB_MEMBER
        SET UPDATE_ID    = #{updateId}
          , UPDATE_NAME  = #{updateName}
          , MEMBER_NAME  = #{memberName}
          , MEMBER_EMAIL = #{memberEmail}
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(memberPassword)">
            , MEMBER_PASSWORD = #{memberPassword}
        </if>
        WHERE SEQ = #{seq}
    </update>

    <update id="deleteMember">
        /* MemberMapper.deleteMember */
        UPDATE TB_MEMBER
        SET DEL_YN = 'Y'
          , DELETE_ID = #{updateId}
          , DELETE_NAME = #{updateName}
          , DELETE_DATE = NOW()
        WHERE SEQ = #{seq}
    </update>

</mapper>
